<%
  js_env :ANALYTICS => {
    'account' => @account_json,
    REPORT_TYPE: [{id: 1, label: t('detailed_report', 'Detailed report')}, {id:2, label: t('general_report', 'General report')}],
    ROOT_ACCOUNT_PAGES: @total_pages,
    ACCOUNT_ID: @account.id
  }

  js_bundle :analytics, :plugin => :catbus_analytics 
  # css_bundle :analytics, :plugin => :catbus_analytics
  @body_classes << 'full-width'
  add_crumb t(:analytics, "Analytics"), analytics_path(:account_id => @account.id)
%>

<div id="analytics_body"></div>